<%- include('partials/header') %>

<% if (auth) { %>
    <% if(activate) { %>
        <div class="info">
            <p>
                <% if(error) { %>
                    <%= text %>
                <% } else { %>
                    <%= text_price %>
                <% } %>
            </p>
        </div>
        <% } else { %>
            <% if(user.role <= 2) { %>
            <% if (data.length != 0) { %>
                <form action="/activations" method="post">
                    <p><b>Выберите вылосипед для активации: </b><br>
                    <p><select name="order"  size="1" required>
                            <% for (let i = 0; i < data.length; i++) { %>
                                <option value="<%= data[i].id_order %>"> <%= users[data[i].id_user - 1].name %> <%= data[i].bicycles_mark %> <%= data[i].date %></option>
                            <% } %>
                        </select></p>
                    <p><input type = "submit" value="Активировать" class="button"></p>
                </form>
            <% } else { %>
                <div class="info">
                    <p>Все прокаты активны</p>
                </div>
            <% } %>
        <% } %>
    <% } %>
<% } else { %>
    <div class="error">
        <p><%= text %></p>
    </div>
<% } %>

<%- include('partials/footer') %>